.navigation-bar {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 28.5px 0px;
  background-color: #f9f9fa;
  border-top: 1px solid rgb(164, 159, 159, 0.3);
}
.navigation-bar2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-top: 10px;
}
.navigation-bar__column {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-bar2__column {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navigation-bar2__column:nth-child(2) i {
  margin-top: 16px;
}

.navigation-bar__link {
  display: flex;
  align-items: center;
  animation: nav-up-and-down 1s forwards;
  transform: translateY(45px);
  opacity: 0;
}

.navigation-bar__column:nth-child(2) .navigation-bar__link {
  animation-delay: 0.6s;
}
.navigation-bar__column:nth-child(3) .navigation-bar__link {
  animation-delay: 1.1s;
}
.navigation-bar__column:nth-child(4) .navigation-bar__link {
  animation-delay: 1.5s;
}
.navigation-bar__text {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  color: #323232;
}
.navigation-bar__link__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  top: -9px;
  left: -11px;
  animation: num-up-and-down 2s infinite;
}
@keyframes nav-up-and-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes num-up-and-down {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-4px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
